<div>
  <h1 style="text-align: center;text-decoration: underline;">"Food Delivery App"</h1>
  <p style="text-align: center;">"Come Lets Explore"</p>
  <p style="text-align: end;">
</p>

<table style=" width: 100%;height: 10%;">
  <tr>
    <td style="width: 15%; text-align: center;">  <a routerLink="/launchrestuarant" style="color: #000;"> Launch New Restaurant</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/restaurants" style="color: #000;"> View All Restaurants</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/upcomingoffers" style="color: #000;"> Upcoming Offers </a>  </td>
    </tr>
</table>

<hr/>
</div>
<app-tdfrestaurant-page></app-tdfrestaurant-page>
<router-outlet></router-outlet>

