<div>
    <table>
        <tr>
            <td>
                Restaurant By
                Location

                <select #location (change)="getFilterData(location.value)">
                    <option value="" disabled selected>Select</option>
                    <option> Hyderabad </option>
                    <option>Mumbai</option>
                    <option>Bengalore</option>
                    <option>Chennai</option>
                </select>
            </td>

            <td>
                | Restaurant By
                Menu

                <select #menu (change)="getFilterMenu(menu.value)">
                    <option value="" disabled selected>Select</option>
                    <option>veg</option>
                    <option>both</option>
                    <option>non-veg</option>

                </select>
            </td>
            <td>
                Restaurant By
                Good ratings at location

                <select #rate (change)="getFilterRatings(rate.value)">
                    <option value="" disabled selected>Select</option>
                    <option> Hyderabad </option>
                    <option>Mumbai</option>
                    <option>Bengalore</option>
                    <option>Chennai</option>
                </select>
            </td>

        </tr>
    </table>

    <div *ngFor="let r of allRestaurants" style="background-color: rgb(247, 225, 225);">
        <table>
            <tr>
                <td> <img src="/assets/images/{{r.imageName}}" alt=" Restaurant image" width="150px" height="150px">
                </td>
                <td>
                    <h2>{{r.restaurantName}} </h2>
                    <hr />
                    <p> {{r.restaurantOwner}} </p>
                    <div [ngSwitch]="r.category">
                        <div *ngSwitchCase="'veg'" style="color: green;">Pure veg</div>
                        <div *ngSwitchCase="'both'" style="color: rgb(182, 10, 10);">Veg & Non-veg</div>
                        <div *ngSwitchCase="'non-veg'" style="color: rgb(182, 10, 10);">Non-veg</div>
                    </div>
                    <br>
                    Location: {{r.location}} <br />
                    <p>Ratings:{{r.ratings}}</p>
                    <div *ngIf="r.ratings >'4'" style="color: blue;">
                        Recommended
                    </div>
                    <p>Discription:{{r.discription|mydiscript:10}}</p>
                    <br>
                    Contact number: {{r.contactNumber}}
                    <hr />
                    <button value="{{r.restaurantId}}" (click)="viewRestaurantDetails(restaurant.value)" #restaurant>
                        View Details</button>
                </td>
            </tr>
            <hr>
        </table>
    </div>